<form class="create-form form-card">
    <div class="form-card-header">
        Add Comment
    </div>
    <div class="form-input">
        <label for="blogpost">Your Comment:</label>
        <textarea class="input" type="text" id="comment-textarea" placeholder="Enter Comment Here" cols="50" rows="17"></textarea>
        <button class="create-comment-btn">Comment!</button>

    </div>
</form>