<form class="signup-form form-card">
    <div class="form-card-header">
        Create Blog Post
    </div>
    <div class="form-input">
        <label for="title">Title:</label>
        <input class="input" type="text" id="username-login" />
        <label for="blogpost">Blog Post:</label>
        <textarea class="input" type="text" id="blogpost-textarea" placeholder="Enter Blog Post Here" cols="50" rows="17"></textarea>
        <button class="create-blogpost-btn">Create New BlogPost!</button>

    </div>
</form>

<script src="/js/create-blogpost.js"></script>