<form class="form-card">
  <div class="form-card-header">
    Login
  </div>
  <div class="form-input">
    <label for="username-login">Username:</label>
    <input class="input" type="text" id="username-login" />
    <label for="password-login">Password:</label>
    <input class="input" type="text" id="password-login" />

    <button class="login-btn">Login!</button>

    <a href="/signup">Sign up instead</a>
  </div>
</form>