:root {
  --brown: rgb(40, 25, 0);
  --cream: rgb(200, 208, 180);
  --darkCream:rgb(135, 140, 121);
  --grey: rgb(155, 155, 155);
}

* {
  font-family:  sans-serif;
  margin: 0px;
}

body {
  background-color: var(--cream);
  height: 100vh;
}

nav {
  height: fit-content;
  padding: 15px;
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 2rem;
  border-radius: 10px;
  color: var(--brown);
  background-color: var(--cream);
  box-shadow: 5px 10px #888888;
  padding: 8px;
  margin: 20px;
  width: max-content;
}

nav a {
  color: var(--cream);
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
}

.card {
  margin: 30px;
  border: 5px solid var(--brown);
}

.card-header {
  color: var(--grey);
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-header h3 a {
  font-size: 25px;
  text-decoration: none;
  color: var(--cream)
}

.card-header h3 a:hover {
color: var(--darkCream);
}

.description {
  padding: 10px;
}

.comments {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.comment-description {
  margin-left: 40px;
}

.comment-name {
  margin-left: 100px;
  margin-bottom: 20px;
}

.form-card {
  margin: 30px;
  border: 5px solid var(--brown);
}

.form-card-header {
  font-size: 30px;
  background-color: var(--brown);
  color: var(--cream);
  padding: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  margin-top: 10px;
}

.input {
  width: 95%;
  margin-top: 10px;
  padding: 10px;
  border: white;
}

.login-btn {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--grey);
  border-color: var(--grey);
  color: white;
  font-size: 20px;
}

.signup-btn, .create-blogpost-btn, .create-comment-btn {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--grey);
  border-color: var(--grey);
  color: white;
  font-size: 20px;
}

.form-card a {
  text-decoration: none;
  font-size: 20px;
  color: var(--brown);
}

#no-blogposts {
  color: var(--brown);
  font-size: 60px;
  text-align: center;
  margin-top: 200px;
}

#blogpost-textarea, #comment-textarea {
  resize: none;
}

.btn {
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--cream);
  color: var(--brown);
  margin-left: 10px;
}

.delete:hover {
  background-color: rgb(97, 0, 0);
  color: whitesmoke;
}

.add-comment:hover {
  background-color: rgb(0, 25, 71);
  color: whitesmoke;
}

@media screen and (max-width: 819px) {
  #username {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}